<style>
  .card-product {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
</style>

<h2>My bookings</h2>

<% @bookings.each do |booking| %>
  <%= link_to game_path(booking.game) do  %>
    <div class="card-product">
      <% if booking.game.photo.attached? %>
        <img src="<%= cl_image_path(booking.game.photo.key, crop: :fill, height: 100) %>" />
      <% end %>
      <div class="card-product-infos">
        <h2><%= booking.game.name %></h2>
        <h3><%= booking.game.category %></p>
        <p><%= booking.game.price %></p>
        <p>Booking from <%= booking.start_at.strftime("%d/%m/%Y")  %> to <%= booking.end_at.strftime("%d/%m/%Y") %></p>
        <p>Status : <%= booking.status %></p>
      </div>
    </div>
  <% end %>
<% end %>
