<div class="card-container">
  <% @games.each do |game| %>
    <%= link_to(game_path(game), class: "card-trip") do %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= game.name %></h2>
            <p class="detail">Category: <%= game.category %></p>
            <p class="detail"> <%= "From #{game.number_of_players_min} to #{game.number_of_players_max}" %> Players</p>
          </div>
          <h2 class="card-trip-pricing"><%= game.price %>€</h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
