  <div class="game-description">
  <div class="photo">
    <% if @game.photo.attached? %>
    <%= cl_image_tag @game.photo.key,  crop: :fill, class: "img-fluid" %>
    <% end %><br>
  </div>
  <div class="details">
    <span id="title">🃏 <%=  @game.name.upcase %> | <%= @game.user.first_name %> à <%= @game.user.city %> </span><br>
    <div class="details-text">Rent <%=  @game.name %> for <%= @game.price %>€ per day 😍<br></div>
    <div class="details-text">Category: <%= @game.category %><br></div>
    <p class="detail">
      <%= image_tag('number_player.jpg', alt: 'Logo', size: "50x50") %>
      <%= "#{@game.number_of_players_min} - #{@game.number_of_players_max}" %>
    </p>
    <% if @game.user === current_user %>
    <div class="btns">
      <%= link_to "Edit my game", edit_game_path, class:"edit-btn" %>
      <%= link_to "Delete my announce", game_path(@game), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" }, class:"delete-btn" %>
    </div>
    <% end %>
  </div>
</div>
<div class="description-text mb-5 pb-5">
  <div class="row justify-content-between">
    <div class="col-8 pe-5 border-end">
      <i id="diamond" class="fa-solid fa-diamond"></i>
      <span class="description-title">Description</span><br>
      <div class="text"><%=  @game.description %></div>
    </div>
    <div class="col-4 px-5">
      <% if @game.user === current_user %>
        <i id="diamond" class="fa-solid fa-diamond"></i>
        <span class="description-title">Next bookings :</span><br>
        <% bookings = @game.bookings.where(status: ["pending", "accepted"]).where("start_at >= ?", Time.now.midnight).order(:created_at) %>
        <% if bookings.any? %>
          <% bookings.each do |booking| %>
            <%= render "shared/bookings", booking: booking %>
          <% end %>
        <% else %>
          <div class="text">No bookings soon 😞</div>
        <% end %>
      <% else %>
        <i id="diamond" class="fa-solid fa-diamond"></i>
        <span id="description-title">Booking :</span><br><br>
        <div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @game.price %>">
            <%= simple_form_for [@game, @booking],
                        html: { data: { controller: "datepicker" } } do |f| %>
              <input type="text" class="form-control" data-datepicker-target="dates" data-action="change->datepicker#setDates change->dynamic-booking-price#updatePrice">
              <%= f.input :start_at,
                    as: :string,
                    as: :hidden,
                    input_html: { data: { datepicker_target: "startTime",
                      dynamic_booking_price_target: "startTime"  } } %>
              <%= f.input :end_at,
                    as: :string,
                    as: :hidden,
                    input_html: { data: { datepicker_target: "endTime",
                      dynamic_booking_price_target: "endTime" } } %>
              <%= f.submit %>
            <% end %>
              <p data-dynamic-booking-price-target="priceHolder"></p>
          </div>
      <% end %>
    </div>
  </div>
