<%# form %>
 <div class="reviews">
  <%= simple_form_for [@game, @review], data: {turbo: false } do |f| %>
    <%= f.input :comment, label: 'Write a comment about your booking', input_html: { class: 'input-comment' } %>
    <%= f.input :rating, as: :hidden %>
      <div class="my-3">
        <% Review::RATES.each do |index| %>
          <i id="<%= index %>" class="review-rating far fa-star"></i>

        <% end %>
      </div>
    <%= f.submit 'Comment', class: 'submit-btn' %>

  <% end %>
</div>

<%# la moyenne %>
  <div class="comments-section" data-controller="stars-in-review-form">
    <h2 id="comment">Comments</h2>
    <div class="rating">
      <div class="stars" data-rating="<%= @game.average_rating %>">
      <%# attribut HTML standard qui permet de stocker des informations supplémentaires dans le code HTML
      généralement pour une utilisation JavaScript ou pour transporter des données côté client %>
        <% (1..5).each do |star| %>
          <!-- Si la note moyenne est supérieure ou égale à l'indice de l'étoile, ajoute la classe ".filled" -->
          <% filled_star_class = star <= @game.average_rating ? 'fas' : 'far' %>
        <i class="<%= filled_star_class %> fa-star"></i>        <% end %>
      </div>
    </div>
      <span><%= @game.average_rating %>/5</span>
      <span> · <%= @game.reviews.count %> reviews</span>

<%# previous comments %>
<div class="review-card">
  <% @game.reviews.reverse.each do |review| %>
    <strong><%= review.user.first_name %>:</strong>
    <span id="ago"><%= time_ago = time_ago_in_words(review.updated_at) + " ago" %></span>
    <p><%= review.comment %></p>
    <div class="rating">
      <% (1..5).each do |star| %>
        <% filled_star_class = star <= review.rating ? 'fas' : 'far' %>
        <i class="<%= filled_star_class %> fa-star"></i>
      <% end %>
    </div>
  <% end %>
</div>


</div>
