<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-md-3 mb-4">
        <%= link_to(game_path(game[:game]), class: "card-trip") do %>
          <div class="card-trip">
            <% if game[:game].photo.attached? %>
              <%= cl_image_tag game[:game].photo.key, class: "card-image mt-2 img-fluid", crop: :fill %>
            <% else %>
              <%= image_tag "des.jpg", class: "card-image mt-2 img-fluid", alt: "Default Game Image" %>
            <% end %>


            <div class="card-trip-infos border-top pt-3">
                <% bookings_pending_count = game[:game].bookings.where(status: "pending").where("start_at >= ?", Time.now.midnight).count %>
                <% if bookings_pending_count > 0 %>
                  <span class="booking-infos"><%= pluralize(bookings_pending_count, 'pending booking') %></span>
                <% end %>

              <div>
                <h2><%= game[:game].name %></h2>
                <p class="detail">Category: <%= game[:game].category %></p>
                <p class="detail"> <%= "From #{game[:game].number_of_players_min} to #{game[:game].number_of_players_max}" %> Players</p>
                <% bookings_accepted_count = game[:game].bookings.where(status: "accepted").where("start_at >= ?", Time.now.midnight).count %>
               <p class="detail text-success"><strong><%= pluralize(bookings_accepted_count, 'accepted booking') %></strong></p>
              </div>
              <h2 class="card-trip-pricing text-right"><%= game[:game].price %>€</h2>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
