<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<!-- app/views/articles/_form.html.erb -->

<%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill %>


Name: <%= @game.name %><br>
Description: <%= @game.description %>$<br>
Price: <%= @game.price %>$<br>
Category: <%= @game.category %><br>
Minimum Players: <%= @game.number_of_players_min %><br>
Maximum Players: <%= @game.number_of_players_max %><br>

<%= link_to "Edit this game", edit_game_path %>
<%= link_to "Delete this game", game_path(@game), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
<%= link_to "Back to home", games_path %>
