<!-- app/views/articles/_form.html.erb -->
<%= link_to games_path do %>
  <i id="back-btn" class="fa-solid fa-circle-chevron-left"></i>
<% end %>

<%= render "shared/game_description_show" %>

<%# ici, la réservation //Jennifer 👩 %>


<% if @game.user === current_user %>
  <% bookings = @game.bookings.where(status: ["pending", "accepted"]).where("start_at >= ?", Time.now.midnight) %>
  <% bookings.each do |booking| %>
    <div class="card-product">
      <% if booking.status === "pending" %>
        <%= link_to "Accept", booking_accept_path(booking), data: { turbo_method: :patch } %>
        <%= link_to "Refuse", booking_refuse_path(booking), data: { turbo_method: :patch } %>
      <% end %>
      <h2>From <%= booking.start_at.strftime("%d/%m/%Y")  %> to <%= booking.end_at.strftime("%d/%m/%Y")  %></h2>
      <p><%= booking.user.email %></p>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for [@game, @booking] do |f| %>
    <%= f.input :start_at,
            as: :string,
            input_html: { data: { controller: "datepicker"} } %>
    <%= f.input :end_at,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit %>
  <% end %>
<% end %>


<%# Reviews %>
<%# <%= render "shared/card_show" %>
